APP_MESSAGING_KAFKA_ENABLED=true
APP_MESSAGING_KAFKA_TOPIC=user-registered.v1
APP_MESSAGING_KAFKA_CONSUMER_GROUP=notification-service
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:19092

APP_MESSAGING_RABBITMQ_ENABLED=true
APP_MESSAGING_RABBITMQ_EXCHANGE=user.registration.exchange
APP_MESSAGING_RABBITMQ_QUEUE=user.registration.queue
APP_MESSAGING_RABBITMQ_ROUTING_KEY=user.registered
SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=guest
SPRING_RABBITMQ_PASSWORD=guest
